// Neal Global Variables
// ========================================

// Global
$neal-link-color: #0088cc !default;
$neal-font-family: "Open Sans", "Noto Sans", "Noto Sans CJK JP", sans-serif !default;

// Buttons
$neal-button-ghost-enable: true !default;
$neal-button-padding-x: 3rem !default;
$neal-button-padding-y: 1rem !default;

// Inputs
$neal-input-padding-x: 1rem !default;
$neal-input-padding-y: 1rem !default;

// Colors
$primary-color: #0091EA !default;
$accent-color: #455A64 !default;
$gray-dark: #212121 !default;
$gray: lighten($gray-dark, 10%) !default;
$gray-light: lighten($gray-dark, 30%) !default;
$gray-lighter: lighten($gray-dark, 55%) !default;
$gray-lightest: lighten($gray-dark, 80%) !default;
$gray-uberlight: lighten($gray-dark, 85%) !default;

// Bootstrap color variables
$brand-primary: $primary-color !default;
$brand-success: #8BC34A !default;
$brand-info: #B3E5FC !default;
$brand-warning: #F44336 !default;
$brand-danger: #FF9800 !default;


// Neal Component Variables
// ========================================

// Page
$neal-page-paragraph-margin: 2rem !default;

// Footer Component
$neal-footer-margin-top: 4rem !default;
$neal-footer-bg-color: darken($accent-color, 15%) !default;
$neal-footer-padding-y: 4rem !default;
$neal-footer-text-color: $gray-lightest !default;
$neal-footer-link-color: $gray-lighter !default;
$neal-footer-social-icon-color: #fff !default;
$neal-footer-social-icon-bg-color: $gray-lighter !default;

// Code component
$neal-code-padding: 1rem 1.5rem !default;

// Section Component
$neal-section-padding-y: 10rem !default;
$neal-section-heading-margin-bottom: 2rem !default;
$neal-section-border-bottom: 1px solid $gray-lightest !default;;
$neal-subhero-bg-color: $gray-uberlight !default;;

// Navbar Component
$neal-navbar-bg-color: #fff !default;
$neal-navbar-padding-y: 1rem !default;
$neal-navbar-link-color: #666 !default;
$neal-header-link-color-hover: darken($neal-navbar-link-color, 25%) !default;
$neal-navbar-brand-color: #333 !default;
$neal-navbar-item-padding-x: 1.5rem !default;

// Hero Component
$neal-hero-padding-y: 10rem !default;
$neal-hero-margin-bottom: $neal-section-padding-y/2 !default;
$neal-hero-bg-color: #263238 !default;
$neal-hero-text-color: #fff !default;

// Horizontal Split: 
$neal-horizontal-split-padding-x-sm: 0rem !default;
$neal-horizontal-split-padding-x-md: 2rem !default;
$neal-horizontal-split-padding-x-lg: 3rem !default;

// Customer Quotes Component
$neal-customer-quotes-bg-color: $gray-uberlight !default;
$neal-customer-quotes-border-color: $gray-uberlight !default;
$neal-customer-quotes-img-width: 25% !default;

// Signup Inline
// N/A

// Signup Modal
$neal-signup-modal-header-bg-color: $accent-color !default;
$neal-signup-modal-header-text-color: #fff !default;
$neal-signup-modal-padding-x: 3rem !default;

// N/A

// Pricing Table
$neal-pricing-plan-border-color: $gray-lightest !default;
$neal-pricing-plan-header-bg-color: $accent-color !default;
$neal-pricing-plan-header-text-color: #fff !default;

// Image List
$neal-image-list-item-padding-x: 2.5rem !default;
$neal-image-list-item-max-height: 50px !default;

// Team
// N/A

// Figure

$neal-figure-border: 1px solid $gray-lightest !default;
$neal-figure-caption-bg-color: $gray-uberlight !default;
$neal-figure-img-padding: 0rem !default;
 


// Bootstrap Overrides
// ========================================

$enable-flex: true !default;;
$enable-rounded: false !default;;
$border-radius: 0 !default;;
$link-color: $neal-link-color !default;
$font-family-sans-serif: $neal-font-family !default;
$jumbotron-padding: $neal-hero-padding-y !default;

// Button Paddings
$btn-padding-x: $neal-button-padding-x;
$btn-padding-y: $neal-button-padding-y;
$btn-padding-x-sm: $btn-padding-x;
$btn-padding-y-sm: $btn-padding-y;
$btn-padding-x-lg: $btn-padding-x;
$btn-padding-y-lg: $btn-padding-y;

// Input Paddings
$input-padding-x: $neal-input-padding-x;
$input-padding-y: $neal-input-padding-y;
$input-padding-x-sm: $input-padding-x;
$input-padding-y-sm: $input-padding-y;
$input-padding-x-lg: $input-padding-x;
$input-padding-y-lg: $input-padding-y;

// Navbar
$navbar-padding-vertical: $neal-navbar-padding-y;