// Blitz Global Variables
// ========================================

// Global
$blitz-link-color: #0088cc !default;
$blitz-font-family: Roboto, sans-serif !default;

// Buttons
$blitz-button-ghost-enable: true !default;
$blitz-button-padding-x: 3rem !default;
$blitz-button-padding-y: 1rem !default;

// Inputs
$blitz-input-padding-x: 1rem !default;
$blitz-input-padding-y: 1rem !default;

// Colors
$gray-dark: #212121 !default;
$gray: lighten($gray-dark, 10%) !default;
$gray-light: lighten($gray-dark, 30%) !default;
$gray-lighter: lighten($gray-dark, 55%) !default;
$gray-lightest: lighten($gray-dark, 80%) !default;
$gray-uberlight: lighten($gray-dark, 85%) !default;

$brand-primary: #0091EA !default;
$brand-success: #8BC34A !default;
$brand-info: #B3E5FC !default;
$brand-warning: #F44336 !default;
$brand-danger: #FF9800 !default;


// Blitz Component Variables
// ========================================

// Page
$blitz-page-paragraph-margin: 2rem !default;

// Footer Component
$blitz-footer-margin-top: 4rem !default;
$blitz-footer-bg-color: $gray !default;
$blitz-footer-padding-y: 4rem;
$blitz-footer-text-color: $gray-lightest;
$blitz-footer-link-color: $gray-light;
$blitz-footer-social-icon-color: #fff;
$blitz-footer-social-icon-bg-color: $gray-light;

// Section Component
$blitz-section-padding-y: 8rem !default;
$blitz-section-heading-margin-bottom: 4rem !default;

// Navbar Component
$blitz-navbar-bg-color: #fff;
$blitz-navbar-padding-y: 1rem !default;
$blitz-navbar-link-color: #666 !default;
$blitz-header-link-color-hover: darken($blitz-navbar-link-color, 25%) !default;
$blitz-navbar-brand-color: #333 !default;
$blitz-navbar-item-padding-x: 1.5rem !default;

// Hero Component
$blitz-hero-padding-y: 10rem !default;
$blitz-hero-margin-bottom: $blitz-section-padding-y/2 !default;
$blitz-hero-bg-color: #263238 !default;
$blitz-hero-text-color: #fff !default;

// Horizontal Split: 
$blitz-horizontal-split-padding-x-sm: 1rem;
$blitz-horizontal-split-padding-x-md: 2rem;
$blitz-horizontal-split-padding-x-lg: 3rem;
// N/A


// Customer Quotes Component
$blitz-customer-quotes-bg-color: $gray-uberlight !default;
$blitz-customer-quotes-border-color: $gray-uberlight !default;
$blitz-customer-quotes-img-width: 25% !default;

// Signup Inline
// N/A

// Signup Modal
// N/A

// Pricing Table
$blitz-pricing-plan-border-color: $gray-lightest;
$blitz-pricing-plan-header-bg-color: #455A64;
$blitz-pricing-plan-header-text-color: #fff;

// Image List
$blitz-image-list-item-padding-x: 1.5rem;
$blitz-image-list-item-max-width: 150px;
 


// Bootstrap Overrides
// ========================================

$enable-flex: true;
$enable-rounded: false;
$border-radius: 0;
$link-color: $blitz-link-color !default;
$font-family-sans-serif: $blitz-font-family !default;
$jumbotron-padding: $blitz-hero-padding-y !default;

// Button Paddings
$btn-padding-x: $blitz-button-padding-x;
$btn-padding-y: $blitz-button-padding-y;
$btn-padding-x-sm: $btn-padding-x;
$btn-padding-y-sm: $btn-padding-y;
$btn-padding-x-lg: $btn-padding-x;
$btn-padding-y-lg: $btn-padding-y;

// Input Paddings
$input-padding-x: $blitz-input-padding-x;
$input-padding-y: $blitz-input-padding-y;
$input-padding-x-sm: $input-padding-x;
$input-padding-y-sm: $input-padding-y;
$input-padding-x-lg: $input-padding-x;
$input-padding-y-lg: $input-padding-y;

// Navbar
$navbar-padding-vertical: $blitz-navbar-padding-y;