// Blitz Variables
// ========================================

// General
$blitz-link-color: #0088cc;

// Section Component
$blitz-section-vmargin: 5rem;

// Navbar Component
$blitz-header-link-color: #666;
$blitz-header-link-colo-hover: darken($blitz-header-link-color, 15%);

// Hero Component
$blitz-hero-vpadding: 5rem;
$blitz-hero-background-color: #263238;
$blitz-hero-text-color: #fff;

// Footer Component
$blitz-footer-margin-top: 4rem;



// Bootstrap Overrides
// ========================================

$enable-flex: true;
$enable-rounded: false;
$border-radius: 0;
$link-color: $blitz-link-color !default;
$font-family-sans-serif: Roboto;
$jumbotron-padding: $blitz-hero-vpadding !default;

// Button Paddings
$btn-padding-x: 3rem;
$btn-padding-y: 1rem;
$btn-padding-x-sm: $btn-padding-x;
$btn-padding-y-sm: $btn-padding-y;
$btn-padding-x-lg: $btn-padding-x;
$btn-padding-y-lg: $btn-padding-y;

// Input Paddings
$input-padding-x: 1rem;
$input-padding-y: 1rem;
$input-padding-x-sm: $input-padding-x;
$input-padding-y-sm: $input-padding-y;
$input-padding-x-lg: $input-padding-x;
$input-padding-y-lg: $input-padding-y;

// Navbar
$navbar-padding-vertical: 1rem;

// Colors
$brand-primary: #03A9F4;
$brand-success: #8BC34A;
$brand-info: #00BCD4;
$brand-warning: #F44336;
$brand-danger: #FF9800;