// Load variables and base styles
@import '_variables';
@import '../node_modules/bootstrap/scss/bootstrap';
@import "vendor/prism";

// Component Styles
@import 'buttons.scss';
@import 'code.scss';
@import 'customer-quotes.scss';
@import 'figure.scss';
@import 'footer.scss';
@import 'hero.scss';
@import 'horizontal-split.scss';
@import 'image-list.scss';
@import 'navbar.scss';
@import 'page.scss';
@import 'pricing-table.scss';
@import 'section.scss';
@import 'singup-inline.scss';
@import 'singup-modal.scss';
@import 'team.scss';
@import 'typography.scss';
