.btn.btn-primary {
  padding: .75rem 2rem;
  border-radius: 3px;
  font-weight: 300;
  height: 50px;
}

.btn.btn-accent {
  background-color: $secondary-color;
  border: none;
  &:active {
    background: darken($secondary-color, 10%) !important;
  }
}
