.neal-countdown {
  margin: 10px auto;
  padding-bottom: 20px;

  .countdown-col{
    display: inline-block;

    // .countdown-col-element
    &-element{
      display: flex;
      flex-direction: column;
      margin: 0 20px;

      // .countdown-col-element-number
      &-number{
        font-size: 50px;
      }
    }
  }
}
