.blitz-customer-quotes {
  .row { align-items: flex-end; }
}

.blitz-customer-quote-quote {
  background-color: #fafafa;
  padding: 1rem;
  :last-child { margin-bottom: 0; }
  margin-bottom: 1rem;
  font-weight: 300;
}

.blitz-customer-quote-name { }
.blitz-customer-quote-title { }
img.blitz-customer-quote-img { 
  float: left;
  width: 25%;
  margin-right: 1rem;
}