.neal-figure {
  margin: $neal-page-paragraph-margin 0;
  border: $neal-figure-border;
  figcaption { 
    background-color: $neal-figure-caption-bg-color;
    padding: 1rem;
  }
  img {
    padding: $neal-figure-img-padding;
  }
}

