// General
footer.blitz-footer {
  padding: $blitz-footer-padding-y 0;
  margin-top: $blitz-footer-margin-top;
  background-color: $blitz-footer-bg-color;
  color: $blitz-footer-text-color;
  font-size: 0.8rem;
  a, a:hover, a:active { color: $blitz-footer-link-color; }
}

// Social Icons
.blitz-footer-social {
  font-size: 1.5rem;
}
.blitz-footer-social-icon { 
  i.fa-stack-2x { color: $blitz-footer-social-icon-bg-color; }
  i.fa-stack-1x { color: $blitz-footer-social-icon-color; }
}

.twitter.blitz-footer-social-icon i.fa-stack-2x { color: #55acee; }
.facebook.blitz-footer-social-icon i.fa-stack-2x { color: #3b5998; }

// Copyright
.blitz-footer-copyright { }