// General
footer.neal-footer {
  padding: $neal-footer-padding-y 0;
  margin-top: $neal-footer-margin-top;
  background-color: $neal-footer-bg-color;
  color: $neal-footer-text-color;
  font-size: 0.8rem;
  a, a:hover, a:active, a:visited, a:link { color: $neal-footer-link-color; text-decoration: none; }
}

// Social Icons
.neal-footer-social {
  font-size: 1.5rem;
}
.neal-footer-social-icon { 
  i.fa-stack-2x { color: $neal-footer-social-icon-bg-color; }
  i.fa-stack-1x { color: $neal-footer-social-icon-color; }
}

.twitter.neal-footer-social-icon i.fa-stack-2x { color: #55acee; }
.facebook.neal-footer-social-icon i.fa-stack-2x { color: #3b5998; }
.github.neal-footer-social-icon i.fa-stack-2x { color: #000; }

// Copyright
.neal-footer-copyright { }