.blitz-hero.jumbotron {
  h1 { font-weight: 900; margin-bottom: 1.5rem; }
  background-color: $blitz-hero-bg-color;
  background-size: cover;
  color: $blitz-hero-text-color;
  margin-bottom: $blitz-hero-margin-bottom;
}