.blitz-horizontal-split-col {
  margin-bottom: $blitz-page-paragraph-margin;
}

.blitz-horizontal-split-sm {
  margin-left: -$blitz-horizontal-split-padding-x-sm;
  margin-right: -$blitz-horizontal-split-padding-x-sm;
  .blitz-horizontal-split-col {
    padding: 0 $blitz-horizontal-split-padding-x-sm;
  }
}

.blitz-horizontal-split-md {
  margin-left: -$blitz-horizontal-split-padding-x-md;
  margin-right: -$blitz-horizontal-split-padding-x-md;
  .blitz-horizontal-split-col {
    padding: 0 $blitz-horizontal-split-padding-x-md;
  }
}

.blitz-horizontal-split-lg {
  margin-left: -$blitz-horizontal-split-padding-x-lg;
  margin-right: -$blitz-horizontal-split-padding-x-lg;
  .blitz-horizontal-split-col {
    padding: 0 $blitz-horizontal-split-padding-x-lg;
  }
}