.neal-horizontal-split-col {
  margin-bottom: $neal-page-paragraph-margin;
}

.neal-horizontal-split-sm {
  margin-left: -$neal-horizontal-split-padding-x-sm;
  margin-right: -$neal-horizontal-split-padding-x-sm;
  .neal-horizontal-split-col {
    padding: 0 $neal-horizontal-split-padding-x-sm;
  }
}

.neal-horizontal-split-md {
  margin-left: -$neal-horizontal-split-padding-x-md;
  margin-right: -$neal-horizontal-split-padding-x-md;
  .neal-horizontal-split-col {
    padding: 0 $neal-horizontal-split-padding-x-md;
  }
}

.neal-horizontal-split-lg {
  margin-left: -$neal-horizontal-split-padding-x-lg;
  margin-right: -$neal-horizontal-split-padding-x-lg;
  .neal-horizontal-split-col {
    padding: 0 $neal-horizontal-split-padding-x-lg;
  }
}