ul.neal-image-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  &.centered { justify-content: center; }
}


li.neal-image-list-item {
  padding: 0rem $neal-image-list-item-padding-x;
  img { max-height: $neal-image-list-item-max-height; }
}