.blitz-navbar-wrapper { }

nav.blitz-navbar { 
  a.nav-link { 
    font-weight: 500;
    font-size: $font-size-sm;
    text-transform: uppercase;
    color: $blitz-header-link-color;
    &:hover, &:active {
      color: $blitz-header-link-colo-hover;
    }
  }
  a.navbar-brand {
    font-weight: 900;
    color: #333;
  }
  .nav-item + .nav-item {
    margin-left: 2.5rem;
  }
}