.neal-navbar-wrapper {
  background-color: $neal-navbar-bg-color;
  border-bottom: 1px solid $gray-lightest;
  position: fixed;
  z-index: 2;
  height: 53px;
  top: 0;
  right: 0;
  left: 0;
}

.navbar {
  background-color: white;
  border-bottom: 1px solid rgb(235,235,235);
}

nav.neal-navbar {
  background-color: #fff;
  border-bottom: 1px solid #ebebeb;

  @mixin nav-link {
    font-size: $font-size-sm;
    // text-transform: uppercase;
    color: $neal-navbar-link-color !important;
    &:hover {
      color: $neal-header-link-color-hover !important;
    }
    &:active {
      opacity: 0.7;
    }
  }

  li.nav-item {
    padding: 0 $neal-navbar-item-padding-x;
    // Don't pad the last item on the right
    &:last-child { padding-right: 0; }
    // &:first-child { padding-left: 0; }
  }

  a.nav-link {
    @include nav-link;
  }

  a.navbar-brand {
    font-weight: 900;
    color: $neal-navbar-brand-color;
  }

  .dropdown-menu {
    left: inherit;
    border: 1px solid $gray-lightest;
    background-color: $neal-navbar-bg-color;
    background-clip: inherit;
    padding: 0;
    a {
      @include nav-link;
      padding: 1rem 1.5rem;
    }
  }

  .navbar-toggler {
    margin-left: -1rem;
  }


  .neal-mobile-nav {
    margin: 0.5rem 0rem;
    li.nav-item, li.nav-item:first-child {
      float: none;
      padding-left: 0;
      margin-left: 0rem;
    }
  }
}
