.neal-pricing-table { }

.neal-pricing-plan { 
  border: 1px solid $neal-pricing-plan-border-color;
}

.neal-pricing-plan-name {
  font-weight: 900;
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
  background-color: $neal-pricing-plan-header-bg-color;
  color: $neal-pricing-plan-header-text-color;
  margin-bottom: 1rem;
}

.neal-pricing-plan-price {
  text-align: center;
  padding: 1rem;
}

.neal-pricing-plan-price-amount {
  display: inline-block;
  font-size: 2rem;
  font-weight: 900;
}

.neal-pricing-plan-price-period {
  display: inline-block;
  font-weight: 300;
}

.neal-pricing-plan-action {
  text-align: center;
  padding: 1rem;
}

.neal-pricing-plan-description { 
  text-align: center;
  padding: 1rem;
  font-weight: 300;
}

.neal-pricing-plan-features {
  border-top: 1px solid $neal-pricing-plan-border-color;
  margin-top: 1rem;
  padding: 1rem;
}

.neal-pricing-plan-feature {
  font-size: 0.8rem;
  padding: 0.5rem 0;
  &.isEnabled { color: $gray-dark; }
  &.isDisabled { color: $gray-lighter; }
}
