.neal-section { 
  padding: $neal-section-padding-y/2 0;
  h2 { 
    margin-bottom: $neal-section-heading-margin-bottom;
    padding-bottom: $neal-section-heading-margin-bottom;
    border-bottom: $neal-section-border-bottom;
    font-weight: 300;
  }
}

.neal-section.subhero {
  background-color: $neal-subhero-bg-color;
  padding: $neal-page-paragraph-margin/2 0;
  margin-top: -$neal-section-padding-y/2;
}

.neal-section.nopad-bottom {
  padding-bottom: 0;
}

.neal-section.nopad-top {
  padding-top: 0;
}

.neal-section.gray {
  background-color: $gray-uberlight;
}