$section-vertical-spacing: 4rem;

.section {
  position: relative;
  padding: $section-vertical-spacing 0;
  &.small {
    padding: $section-vertical-spacing / 2 0;
  }
  &.bg-primary {
    background-color: $primary-color;
    color: #fff;
  }
  &.main-section {
    color: $primary-darkest-color;
  }

  &.contact-section {
    min-height: calc(100% - 112px);
  }

  .headline {
    font-size: 44px;
    font-weight: bold;
  }
}

.lead {
  font-weight: 300;
  font-size: 18px;
}

.value-prop {
  padding: 0 $section-vertical-spacing / 2;
}

.margin-bottom-sm {
  margin-bottom: $section-vertical-spacing / 2;
}
