$section-vertical-spacing: 4rem;

.section {
  position: relative;
  padding: 3rem 0;
  &.small {
    padding: $section-vertical-spacing / 2 0;
  }
  &.bg-primary {
    background-color: #00466E;
    color: #fff;
  }
  &.main-section {
    color: $primary-darkest-color;
  }

  &.contact-section {
    min-height: calc(100% - 112px);
  }

  .headline {
    font-size: 44px;
    font-weight: bold;
    letter-spacing: 0.02em,
  }
}

.lead {
  font-weight: 300;
  font-size: 18px;
  &.lead-lg {
    font-size: 24px;
  }
}

.value-prop {
  padding: 0 $section-vertical-spacing / 2;
}

.margin-bottom-sm {
  margin-bottom: 1.5rem;
}
