.blitz-signup-modal {

  .modal-header {
    border: none;
    background-color: $blitz-signup-modal-header-bg-color;
    color: $blitz-signup-modal-header-text-color;    
    padding: 1rem $blitz-signup-modal-padding-x;
    button.close { color: $blitz-signup-modal-header-text-color; }
  }

  .modal-footer {
    border: none;
    padding: 0rem $blitz-signup-modal-padding-x 2rem;
  }

  .modal-body {
    padding: 2rem $blitz-signup-modal-padding-x;
  }

}