.blitz-team { }
.blitz-team-member {}
img.blitz-team-member-img { margin-bottom: 1rem; }
.blitz-team-member-name { font-weight: 900; }
.blitz-team-member-profile { background-color: #fafafa; padding: 1rem; }
.blitz-team-member-description { margin-top: 0.5rem; }